footer {
  .callout {
    background-color: #1B2030;
    color: #E1E2E6;
    a {
      color: #337AB7;
    }
  }
  .footer__website-credits {
    padding-bottom: 2rem;
  }
  .footer__photo-credits {
    font-size: 0.7rem;
  }
}
