.home__contacts {
  &.callout {
    background-color: #41485C;
    color: #E1E2E6;
    margin: 0;
    padding: 1.5rem;
  }
  .contacts {
    &__item {
      &:hover {
        .fa {
          transform: scale(1.02) translateY(-8px);
        }
      }
      &--icon {
        font-size: 6rem;
        .fa {
          transition: all 0.5s ease;
        }
      }
    }
  }
}

.home__cara {
  &.callout {
    margin: 0;
    padding: 1.5rem;
  }
  .cara__website {
    .button {
      margin: 0;
    }
  }
}
