.home__spotlight {
  .spotlight {
    &__item {
      &--image {
        img {
          border-radius: 50%;
        }
      }
      &--text {
        color: red;
      }
    }
  }
}

.home__contacts {
  .contacts {
    &__item {
      &:hover {
        .fa {
          transform: scale(1.02) translateY(-8px);
        }
      }
      &--icon {
        font-size: 6rem;
        .fa {
          transition: all 0.5s ease;
        }
      }
    }
  }
}

.home__cara {
  .cara__website {
    .button {
      margin: 0;
    }
  }
}